.container {
    margin-top: 5rem;
    justify-content: center;
    display: flex;
}

.btn {
    margin-top: 1rem;
    box-sizing: border-box;
}

.card {
    box-shadow: 0 0 1rem black;
}

.form-group {
    margin-top: 0.5rem;
}